
.css-6yl0sf {
    position: relative;
    background-color: #fafafa;
    height: calc(100vw* 27 / 80);
}
@media (min-width: 1100px) {
    *, :after, :before {
        -webkit-font-smoothing: antialiased;
    }
}
*, :after, :before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: Rubik, Helvetica, sans-serif;
}
@media (min-width: 1100px) {
    body {
        font-weight: 300;
    }
}
body {
    -webkit-tap-highlight-color: transparent;
    font-style: normal;
    position: relative;
}
:root {
    --primaryText: #000;
    --secondaryText: #fff9;
    --tertiaryText: #fff6;
    --quaternaryText: #fffc;
    --primaryBg: #fff;
    --secondaryBg: #282828;
    --tertiaryBg: #0003;
    --quaternaryBg: #343434;
    --pentanaryBg: #373839;
    --buttonBgOne: rgba(255, 255, 255, 0.1);
    --buttonBgActive: #5d46db;
    --buttonBgActiveV2: linear-gradient(73.9deg, #5E23DC 24.34%, #33AECD 158.12%);
    --buttonBgDisabled: #7f7f7f;
    --gradientOne: linear-gradient(-278.9deg, #3d3e3f 2.36%, rgba(46, 47, 48, 0) 123.78%);
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14.5px;
}
:after, :before {
    -webkit-font-smoothing: antialiased;
}
@media (min-width: 1100px) {
    *, :after, :before {
        -webkit-font-smoothing: antialiased;
    }
}
*, :after, :before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}
:after, :before {
    -webkit-font-smoothing: antialiased;
}
@media (min-width: 1100px) {
    *, :after, :before {
        -webkit-font-smoothing: antialiased;
    }
}
*, :after, :before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}