element.style {
    --11i4yvv: 103px;
}
._axkb7n._axkb7n {
    flex-grow: 1;
}
._axkb7n._axkb7n {
    flex-grow: 1;
}
@media (min-width: 1100px) {
    ._biqgdtch._biqgdtch {
        border-radius: 16px 16px 0 0;
    }
}
@media (min-width: 1100px) {
    ._1la84ssf._1la84ssf {
        border: 1px solid #ececec;
    }
}
@media (min-width: 1100px) {
    ._156v13i4._156v13i4 {
        min-height: 190px;
    }
}
._axkb7n._axkb7n {
    flex-grow: 1;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._j61sew {
    min-height: var(--11i4yvv);
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
._9s1txw {
    display: flex
;
}
@media (min-width: 1100px) {
    *, :after, :before {
        -webkit-font-smoothing: antialiased;
    }
}
*, :after, :before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._7lr3uz {
    color: rgb(0, 0, 0);
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._7lr3uz {
    color: #000;
}
._9jtlke {
    cursor: pointer;
}
._7lr3uz {
    color: #000;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._9jtlke {
    cursor: pointer;
}
._7lr3uz {
    color: #000;
}
._9jtlke {
    cursor: pointer;
}
._7lr3uz {
    color: #000;
}
._7lr3uz {
    color: #000;
}
._9jtlke {
    cursor: pointer;
}
body {
    font-family: Rubik, Helvetica, sans-serif;
}
@media (min-width: 1100px) {
    body {
        font-weight: 300;
    }
}
body {
    -webkit-tap-highlight-color: transparent;
    font-style: normal;
    position: relative;
}
:root {
    --primaryText: #000;
    --secondaryText: #fff9;
    --tertiaryText: #fff6;
    --quaternaryText: #fffc;
    --primaryBg: #fff;
    --secondaryBg: #282828;
    --tertiaryBg: #0003;
    --quaternaryBg: #343434;
    --pentanaryBg: #373839;
    --buttonBgOne: rgba(255, 255, 255, 0.1);
    --buttonBgActive: #5d46db;
    --buttonBgActiveV2: linear-gradient(73.9deg, #5E23DC 24.34%, #33AECD 158.12%);
    --buttonBgDisabled: #7f7f7f;
    --gradientOne: linear-gradient(-278.9deg, #3d3e3f 2.36%, rgba(46, 47, 48, 0) 123.78%);
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14.5px;
}
:after, :before {
    -webkit-font-smoothing: antialiased;
}
@media (min-width: 1100px) {
    *, :after, :before {
        -webkit-font-smoothing: antialiased;
    }
}
*, :after, :before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}
:after, :before {
    -webkit-font-smoothing: antialiased;
}
@media (min-width: 1100px) {
    *, :after, :before {
        -webkit-font-smoothing: antialiased;
    }
}
*, :after, :before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}